<!--<mat-card class="example-card" style="width: 450px;">
  <mat-card-content>-->
<form (ngSubmit)="submitUser()" novalidate  [formGroup]="form" >
	<div class="container">
	<div class="col-xs-4 field" style="background: #eeeeeeb8;">
		<mat-form-field class="col-xs-12"> <mat-select
			placeholder="User Account" formControlName="userControl1"  required
			[(ngModel)]="userDetails.fromAccountNumber"  > <mat-option>--</mat-option>
		<mat-option *ngFor="let fromuser of users"
			[value]="fromuser.accountNumber"> {{fromuser.user}} </mat-option> </mat-select>  </mat-form-field>


		<mat-form-field class="col-xs-12"> <mat-select
			placeholder="Payee Account" formControlName="userControl"  required
			[(ngModel)]="userDetails.toAccountNumber" 
			> <mat-option>--</mat-option>
		<mat-option *ngFor="let user of users" [value]="user.accountNumber">
		{{user.user}} </mat-option> </mat-select></mat-form-field>


		<mat-form-field class="col-xs-12"> <input
			matInput placeholder="Enter Amount to be Transferred" type="number"
			formControlName="amount" [(ngModel)]="userDetails.amount" 
			 required> </mat-form-field>

		<mat-form-field class="col-xs-12"> <input type="text"
			matInput placeholder="Remarks" [(ngModel)]="userDetails.remarks"
			formControlName="remarks"> </mat-form-field>

		<button mat-button type="submit" class="col-xs-12" style="white-space: normal;"  [disabled]="!form.valid" >Click
			me to Transfer!!!!</button>
</div>

	</div>
</form>
 <!-- </mat-card-content>

</mat-card> -->
 